<body>
  <div class="container" style="margin: auto; justify-content: center">
    <div class="title">Log In</div>
    <div class="content">
      <form [formGroup]="UserLogIn" (ngSubmit)="OnLogIn()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Select Role</span>
            <select
              dropdown
              name="mydropDown"
              class="form-control dropdown-toggle"
              formControlName="LogInType"
              value="Role"
            >
              <option value="" selected disabled hidden >Select Role</option>
              <option>Admin</option>
              <option>User</option>
            </select>
            <div *ngIf="submitted && userloginControl['LogInType'].errors" class="invalid-feedback">
              <div *ngIf="userloginControl['LogInType'].errors['required']">role is required></div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">UserEmail</span>
            <input
              type="text"
              formControlName="Email"
              placeholder="Enter your email"
              [ngClass]="{'is-invalid': submitted && userloginControl['Email'].errors}"
            />
            <div *ngIf="submitted && userloginControl['Email'].errors" class="invalid-feedback">
              <div *ngIf="userloginControl['Email'].errors['required']">email is required></div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">UserPassword</span>
            <input
              type="password"
              formControlName="Password"
              placeholder="Enter your password"
              [ngClass]="{'is-invalid': submitted && userloginControl['Password'].errors}"
            />
            <div *ngIf="submitted && userloginControl['Password'].errors" class="invalid-feedback">
              <div *ngIf="userloginControl['Password'].errors['required']">Password is required></div>
            </div>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Log In"  />
        </div>
        <div class="link" class="login-box">
          <a routerLink="/Register" class="link">REGISTER USER</a>
        </div>
      </form>
      <div>{{result}}</div>
    </div>
  </div>
 
</body>





